<a href="https://colab.research.google.com/github/RaufAfandiyev/sprin_tasks/blob/main/Sprint_1a_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = 123
str_num = str(num)
print("String:", str_num, "| Tip:", type(str_num))

String: 123 | Tip: <class 'str'>

In [2]:
val = 19.99
int_val = int(val)
print("Tam eded:", int_val)

Tam eded: 19

In [4]:
s = "500"
numeric = int(s)
print("500 / 2 =", numeric / 2)

500 / 2 = 250.0

In [5]:
a = 8
b = 12
print("a < b:", a < b)
print("a == b:", a == b)

a < b: True
a == b: False

In [8]:
x, y, z = 5, 10, 15
result = (x < y) and (y < z)
print("(x < y) and (y < z):", result)

(x < y) and (y < z): True

In [9]:
print("25 // 4 =", 25 // 4)
print("25 % 4 =", 25 % 4)
print("25 / 4 =", 25 / 4)

25 // 4 = 6
25 % 4 = 1
25 / 4 = 6.25

In [10]:
print("3 ** 4 =", 3 ** 4)

3 ** 4 = 81

In [11]:
qiymet = 75.5
qiymet_int = int(qiymet)
print("Tam qiymət:", qiymet_int, "| Tip:", type(qiymet_int))

Tam qiymət: 75 | Tip: <class 'int'>

In [12]:
n = 20
print("(n > 10) or (n < 5):", (n > 10) or (n < 5))
print("(n > 15) and (n < 25):", (n > 15) and (n < 25))

(n > 10) or (n < 5): True
(n > 15) and (n < 25): True

In [13]:
s = "42.8"
flt = float(s)
print("Float:", flt, "| Tip:", type(flt))
tam = int(flt)
print("Tam:", tam, "| Tip:", type(tam))

Float: 42.8 | Tip: <class 'float'>
Tam: 42 | Tip: <class 'int'>